body {
  background-image: url("art-background-blank-951240.jpg");
  /* background-repeat: no-repeat; */
  background-size: 100% 100%;
}

h4 {
  font-family: cursive;
  /* padding-left: 80px; */
  text-align: center;
}

h1 {
  text-align: center;
  padding-top: 30px;
}

h3 {
  text-align: center;
  font-family: cursive;
}

p {
  font-family: cursive;
}

.homepageButtons {
  padding: 5px;
  display: inline;